body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header, footer {
    padding: 10%;
    color: rgb(27, 30, 75);
    height: auto;
    background-image: url(headerkep6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center; 
}
h1 span { 
    background-color: #52a58c; 
}

.topnav {
    overflow: hidden;
    background-color: rgb(27, 30, 75);
}
  
.topnav a {
    float: left;
    display: block;
    color: #52a58c;
    text-align: center;
    padding: 14px 16px;
    /*text-decoration: none; */
}

/*.column{
    border: 3px solid black;
    border-spacing: 15px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    height: 50px;
    vertical-align: center;
    width: 50%;
}*/

.table, td, th{
    border: none;
    border-spacing: 15px;
    padding: 20px;
    height: 50px;
    text-align: center;
    border-collapse: collapse
}
.topnav a:hover {
    background-color: #52a58c;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: rgb(27, 30, 75);
    text-align: center;
}


section{
    height: 20%;
    padding: 3%;
}

#elso{ 
    background-color: #52a58c;
    height: 20%;
}

#masodik{
    background-color: #52a58c;
    height: 20%;
    width: 95%;
    border: none;
    text-align: left;
}

#harmadik{
    background-color: #52a58c;
    height: 20%;
}

